* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Style body*/
body {
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 15px;
    background-color: #f7f7f7;
    color: black;
    letter-spacing: 0.8px;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

/*Style header starts here*/
header {
    background-color: #007bff;
    color: #fff;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

header div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

header div img {
    height: 80px;
    width: 80px;
    padding: 10px;
    margin: 10px;
}

header div h1 {
    margin: 1.5rem;
    font-size: 2.5rem;
    font-weight: bold;
}

/*Style search feature starts here*/
#search-form {
    display: flex;
    justify-content: center;
    margin: 2rem;
}

#search-input {
    padding: 10px 20px;
    width: 300px;
    border: none;
    border-radius: 60px;
    font-size: 1rem;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#search-input:focus {
    outline: none;
    border-color: #007bff;
}

#search-form button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 60px;
    font-size: 1rem;
    font-weight: bold;
    margin-left: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#search-form button:hover {
    background-color: #0056b3;
}
/*Style header and search ends here*/

/*Style main starts here*/
main {
    background-image: url("./Assets/weather_bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 3% 12%;
}

#current-weather {
    background-color: #b9caceeb;
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    opacity: 0.85;
}

#current-weather>p:nth-child(1) {
    font-size: 30px;
    font-weight: 600;
}

.primary {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px;
}

.primary div:nth-child(1) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 70px;
    font-weight: 600;
    margin: 2% 5%;
}

.primary div:nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid gray;
    border-radius: 50%;
    padding: 20px;
    margin: 2% 5%;
}

.secondary {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.secondary p {
    border: 0.5px solid gray;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}

#hourly-forecast {
    background-color: #dce2ff;
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    opacity: 0.85;
}

#hourly-forecast ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#hourly-forecast ul li {
    border: 0.7px solid gray;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    margin: 12px;
}

#weekly-forecast {
    background-color: #e7fbff;
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    opacity: 0.85;
}

#weekly-forecast ul {
    list-style-type: none;
}

#weekly-forecast ul li {
    border: 0.7px solid gray;
    border-radius: 5px;
    padding: 15px;
    margin: 15px;
}
/*Style main ends here*/

/*Style footer*/
footer {
    background-color: #007bff;
    color: #fff;
    padding: 15px;
    text-align: center;
    font-size: 1rem;
}
